<% @places.each do |place| %>
	<div class="booyah-box col-xs-10 col-xs-offset-1">
		<h1><%= place.name %></h1>
		<i><%= place.address %></i><br />d<br />
		<p><%= place.description %></p><br />
	</div>
	<div class='digg_pagination'>
		<%= will_paginate @places %>
	</div>
<% end %>
